:root {
    --text-color: #757575;
    --title-color: #212121;
    --accent-color: #2196f3;
    --main-button-focus-color: #188ce8;
    --white-color: #ffffff;
    --background-color: #2f303a;
  
    --fone-color: #f5f4fa;
    --page-color: #ffffff;
    --auth-color: rgba(255, 255, 255, 0.6);
    --header-border: #ececec;
    --border-portfolio-card: #eeeeee;
    --social-link-color: #afb1b8;
    --hover-card-color: rgba(33, 150, 243, 0.9);
    --our-works-fone: rgba(47, 48, 58, 0.8);
    --modal-window-bgc: rgba(0, 0, 0, 0.2);
    --close-button-color: #000000;
    --text-area-color: rgba(117, 117, 117, 0.5);
  }