.benefits {
padding: 60px 0px;
  @media screen and (min-width: 480px){
    padding: 94px 0px;
  }
  
}

.benefits-list{
    display: block;
    @media screen and (min-width: 480px) {
      display: flex;
    flex-wrap: wrap;
    }
}

.benefits-list__item{
    width: 100%;
    &:not(:last-child) {    
      margin-bottom: 30px;
      @media screen and (min-width: 480px) {
        margin-right: 30px;
      }  
      
    }    
        
}

.benefits-list__icon {
  border-radius: 4px;
  background-color: var(--fone-color);
  display: block;
text-align: center;
margin-bottom: 30px;

  @media screen and (min-width: 480px){
    display: flex;
    width: 270px;
    height: 120px;
    align-items: center;
  justify-content: center;
   
    
  }
    
  }

  .benefits-list__title{   
    text-align: center;   
  color: var(--title-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  }

  .benefits-list__description {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }