.our-works {
    display: none;
    @media screen and (min-width: 480px) {
      display: block;
      padding-bottom: 94px;
    }
  }


  .our-works__title {
    color: var(--title-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
  }


  .our-works__list {
    display: flex;
    }

 .our-works__item{
        width: calc(100%-60) / 3;
            &:not(:last-child) {
                margin-right: 30px;
              }
    }

    .our-works-description {
        position: relative;
        display: block;
      }

      .our-works__foto {
        display: block;
      }

      .our-works-description__text-container {
        display: flex;
        position: absolute;
        background-color: var(--our-works-fone);
        width: 100%;
        height: 70px;
        bottom: 0;
        left: 0;
        opacity: 1;
        justify-content: center;
        align-items: center;
      }

      .our-works-description__text {
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        color: var(--white-color);
        text-transform: uppercase;
      }