.all-works {
  @media screen and (min-width:768px) {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
    justify-content: center;
  }
  
  }
  
.all-works__list-item{
    width: 100%;
   justify-content: center;
    border-bottom: 1px solid var(--border-portfolio-card);
    background: var(--page-color);         
          
  

  @media screen and (min-width: 1200px){
            
    .all-works__list-item{
      width: 370px;
      &:not(:nth-child(3n)) {
        margin-right: 30px;
      }
    }

    &:not(:nth-last-child(-n + 3)) {
        margin-bottom: 30px;
      }
    }

    @media screen and (min-width: 768px) {
      margin-left: 15px;
      margin-right: 15px;
      flex-basis: calc((100%-4*15px)/2);
      max-width: 354px;
    }
  }

 .card {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
            0px 1px 1px rgba(0, 0, 0, 0.12);
            outline: 1px solid var(--accent-color);
    }
 }

 .card__link {
    text-decoration: none;
  }

  .card__thumb {
    position: relative;
    display: block;
    overflow: hidden;
  }

  .card__text-description--shown {
    text-decoration: none;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--hover-card-color);
    color: var(--white-color);
    opacity: 0;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
      opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 63px 24px;
  }
  
.card__link:focus .card__text-description--shown,
.card__link:hover .card__text-description--shown {
  transform: translateY(0);
  opacity: 1;
}

.card__text-description {
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
  }
 

  .all-works__container {
    padding: 20px 24px;
    border: 1px solid var(--border-portfolio-card);
    border-top: 0;
  }
  
  .card__title {
    color: var(--title-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
  }
  
  .card__title--description {
    color: var(--text-color);
    line-height: 1.87;
    letter-spacing: 0.03em;
  }
  
  