.header { 
  display: block;  
  z-index: 9;
  width: 100%;
  background-color: var(--white-color);
  font-size: 14px;
  line-height: 1.14;
  font-weight: 500;
  letter-spacing: 0.02em;
  border-bottom: 1px solid var(--header-border); 
  
}

.header__container {   
  position: relative;
  align-items: center;  
  @media screen and (min-width: 320px) {
    max-width: 479px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
        
  }
  @media screen and (min-width: 480px){
    background-color: yellowgreen;
    max-width: 767px;
  }
  @media screen and (min-width: 768px) {
    background-color: violet;
    max-width: 1199px;
  }
  @media screen and (min-width: 1200px){
    background-color: blue;
    max-width: 1200px;
  }
}

.mobile-menu {
   display: none;
   
        &.is-open{
      display: block; 
      position: absolute;
      left: 0;
      top: 100%;
      height: 100vw;
      width: 100vh;
      overflow-y: scroll;
      padding-left: 40px;
      padding-top: 10px;
      padding-right: 10px;
      padding-bottom: 48px;
      background-color: var(--white-color);
    }

    &.is-open+.logo{
      opacity: 0;
    }

    &.is-open modal-menu__button:hover .modal-menu__button--close,
    &.is-open modal-menu__button:focus .modal-menu__button--close{
      fill:var(--accent-color);
    }
   }
  

.modal-menu__social-list{
   display: flex;
  @media screen and (min-width: 480px) {
    display: none;
  }
  
   }
   .modal-menu__item{
    &:not(:last-child) {
      border-right: 1px solid rgba(33, 33, 33, 0.2);
      padding-right: 10px;  
    }
    &:not(:first-child){
      padding-left: 10px;
    }
   }


.modal-menu__social-link{
  // display: block;
 font-weight: 500;
font-size: 18px;
line-height: 1.22;
letter-spacing: 0.02em;
color:var(--accent-color);

}
.modal-menu__button{
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  &:hover .modal-menu__button--open,
  &:focus .modal-menu__button--open  {
    fill:var(--accent-color);}
    
    &.is-open .modal-menu__button--open{
      display: none;
    }
    &.is-open .modal-menu__button--close{
      display: block;
    }

    
    

    @media screen and (min-width: 480px) {
      display: none;
    }
   
 
    
}

.modal-menu__button--close{
  display: none;
}

//logo is in   components/_logo.scss

.nav-list {
    margin-bottom: 302px;
    @media screen and (min-width: 480px) {
      display: flex;
    }
  }
  
  .nav-list__item:not(:last-child) {
    margin-bottom: 32px;
    @media screen and (min-width: 480px) {
      margin-right: 50px;
    }
    
  }
  
  .nav-list__link{
    text-decoration: none;
    color: var(--title-color);
    display: block;

    font-size: 40px;
    font-weight: 500;
    line-height: 1.175;
    letter-spacing: 0.02;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
      &:hover,
      &:focus{
      color: var(--accent-color);
      }

      @media screen and (min-width: 480px) {
        padding-top: 32px;
        padding-bottom: 32px;
      }
  }

  .nav-list__link--current {
    color: var(--accent-color);
    @media screen and (min-width: 480px) {
      position: relative;
    }
        
  }

@media screen and (min-width: 480px) {
  .nav-list__link--current::after {
    position: absolute;
    content: '';
    background-color: var(--accent-color);
    display: block;
    width: 100%;
    height: 4px;
    left: 0;
    bottom: 0;
    border-radius: 2px;
  }
}
  

.auth-nav{
    display: flex;
    flex-direction: column-reverse;
    margin-left: auto;
        &:not(:last-child) {        
            margin-right: 50px;
        }
}
.auth-nav__item{
  display: block;
}
.auth-nav__item:not(:last-child){
margin-right: 30px;
}

.auth-nav__link {
    display: block;
    align-items: center;
    padding: 0;
    text-decoration: none;
    color: var(--text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-size: 34px;
    color: var(--accent-color);
   font-weight: 500;
   line-height: 1.176;
   letter-spacing: 0.02em;
     
    @media screen and (min-width: 480px){
      padding-top: 32px;
      padding-bottom: 32px;
    }

        &:hover,
        &:focus {
            color: var(--accent-color);            
          }
}
.auth-nav__link.auth-nav__link--email{
  font-size: 24px;
  color: var(--text-color);
  margin-top: 32px;
  margin-bottom: 64px;
}

.auth-nav__link--letter,
.auth-nav__link--tel{
   display: none;
}

.auth-nav__link--letter,
.auth-nav__link--tel{
  @media screen and (min-width: 480px) {
    display: block;
    fill: var(--text-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-right: 10px;
  }
}


.auth-nav__link:hover .auth-nav__link--letter,
.auth-nav__link:focus .auth-nav__link--letter,
.auth-nav__link:hover .auth-nav__link--tel,
.auth-nav__link:focus .auth-nav__link--tel {
  fill: var(--accent-color);
}