.header { 
  display: block;  
  z-index: 9;
  width: 100%;
  background-color: var(--white-color);
  font-size: 14px;
  line-height: 1.14;
  font-weight: 500;
  letter-spacing: 0.02em;
  border-bottom: 1px solid var(--header-border); 
  
}

.header__container {   
  position: relative;
  align-items: center;  
  @media screen and (min-width: 320px) {
    max-width: 479px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
        
  }
  @media screen and (min-width: 480px){
    background-color: yellowgreen;
  }
  @media screen and (min-width: 768px) {
    background-color: violet;
  }
  @media screen and (min-width: 1200px){
    background-color: blue;
  }
}

.mobile-menu {
   display: none;
   
        &.is-open{
      display: block; 
      position: absolute;
      left: 0;
      top: 100%;
      width: 100vw;
      height: 100vw;
      background-color: var(--white-color);
    }
   }
  

.modal-menu__social-list{
   
  @media screen and (min-width: 480px) {
    display: none;
  }
   }

.modal-menu__social-link{
 font-weight: 500;
font-size: 18px;
line-height: 1.22;
letter-spacing: 0.02em;
color:var(--accent-color);

}

.modal-menu__button{
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;

    &.is-open .modal-menu__button--open{
      display: none;
    }
    &.is-open .modal-menu__button--close{
      display: block;
    }

    @media screen and (min-width: 480px) {
      display: none;
    }
   
}



.modal-menu__button--close{
  display: none;
}

//logo is in   components/_logo.scss

.nav-list {
    
    @media screen and (min-width: 480px) {
      display: flex;
    }
  }
  
  .nav-list__item:not(:last-child) {
    margin-right: 50px;
  }
  
  .nav-list__link{
    text-decoration: none;
    color: var(--title-color);
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
      &:hover,
      &:focus{
      color: var(--accent-color);
      }
  }

  .nav-list__link--current {
    color: var(--accent-color);
    @media screen and (min-width: 480px) {
      position: relative;
    }
    
    
  }

@media screen and (min-width: 480px) {
  .nav-list__link--current::after {
    position: absolute;
    content: '';
    background-color: var(--accent-color);
    display: block;
    width: 100%;
    height: 4px;
    left: 0;
    bottom: 0;
    border-radius: 2px;
  }
}
  

.auth-nav{
    display: flex;
    margin-left: auto;
        &:not(:last-child) {        
            margin-right: 50px;
        }
}

.auth-nav__item:not(:last-child){
margin-right: 30px;
}

.auth-nav__link {
    display: block;
    align-items: center;

    text-decoration: none;
    color: var(--text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    padding-top: 32px;
    padding-bottom: 32px;

        &:hover,
        &:focus {
            color: var(--accent-color);            
          }
}

.auth-nav__link--letter,
.auth-nav__link--tel{
    fill: var(--text-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-right: 10px;
}

.auth-nav__link:hover .auth-nav__link--letter,
.auth-nav__link:focus .auth-nav__link--letter,
.auth-nav__link:hover .auth-nav__link--tel,
.auth-nav__link:focus .auth-nav__link--tel {
  fill: var(--accent-color);
}