.logo {
    color: var(--accent-color);
    font-family: Raleway;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
    display: block;
  //  position: fixed;
    @media screen and (min-width: 320px) {
      width: 134px;
         
     }
  

  @media screen and (min-width: 1200px){
    font-size: 26px;
    margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
  width: 145px;
  }
  }
   
  .logo:focus {
    outline: 1px solid var(--accent-color);
  }
  
  .logo__text {
    color: var(--title-color);
  }